.edit-deck-container {
    padding: 20px;
    margin: 0 auto; /* Center the content */
    max-width: 1000px; /* Limit the maximum width */
  }
  
  .set-name {
    margin-bottom: 20px;
  }
  
  .set-name label {
    margin-right: 10px;
    white-space: nowrap;
    color: black; /* Black label text color */
  }
  
  .set-name input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
  }
  
  .card-input {
    background-color: #928779; /* Background color for each card entry */
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%; /* Make card fill the available width */
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* More rounded shadow */
    color: white; /* White text color inside the card */
    position: relative; /* Position relative to place delete icon */
  }
  
  .delete-icon {
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    filter: invert(1); /* Make the icon white */
  }
  
  .input-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-pair label {
    margin-right: 10px;
    white-space: nowrap;
    color: white; /* White label text color */
  }
  
  .card-input-textarea {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 48%; /* Adjust width to fit side by side */
    font-family: Arial, sans-serif; /* Ensure consistent font */
    height: 53px; /* Fixed height to match the label */
    box-sizing: border-box;
    resize: none; /* Disable resizing */
    margin-right: 10px; /* Add space between front and back text boxes */
    overflow: hidden; /* Hide overflow to adjust height dynamically */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .add-card-btn,
  .create-btn {
    padding: 10px 20px;
    background-color: #15DB63; /* Use the primary color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif; /* Ensure consistent font */
    margin-bottom: 10px;
  }
  
  .add-card-btn:hover,
  .create-btn:hover {
    background-color: #12b354; /* Darker shade of the primary color for hover effect */
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  