.set-card {
  width: 200px;
  height: 100px;
  border: 1px solid #364038; /* Black Olive */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #EBFFF0; /* Honeydew */
}

.add-card {
  background-color: #AAFFCC; /* Aquamarine */
}

.set-content {
  text-align: center;
}

.set-title {
  margin-top: 10px;
  font-size: 14px;
  color: #364038; /* Black Olive */
}

.card-count {
  font-size: 12px;
  color: #364038; /* Black Olive */
}

.add-card span {
  font-size: 24px;
  color: #364038; /* Black Olive */
}
