.study-page-container {
  padding: 20px;
  background-color: #EBFFF0; /* Honeydew */
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.card {
  background: #AAFFCC; /* Aquamarine */
  border: 1px solid #364038; /* Black Olive */
  padding: 40px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .content {
  font-size: 18px;
}

.ferris-wheel {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.ferris-wheel-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.ferris-wheel-dot.active {
  background-color: #1D8734; /* Forest Green */
}

.card-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.nav-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 20px;
}

.return-button {
  padding: 10px 20px;
  background-color: #16DC65; /* Malachite */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Ensure consistent font */
}

.return-button:hover {
  background-color: #1D8734; /* Forest Green */
}

.error {
  color: red;
}
