.study-page-container {
  padding: 20px;
  background-color: #EBFFF0; /* Honeydew */
}

.cards-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.card {
  background: #AAFFCC; /* Aquamarine */
  border: 1px solid #364038; /* Black Olive */
  padding: 40px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.card .content {
  font-size: 18px;
}

.ferris-wheel {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.ferris-wheel-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.card-navigation {
  margin: 20px 0;
}

.card-navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}