.study-page-container {
  padding: 20px;
  margin: 0 auto; /* Center the content */
  max-width: 1000px; /* Limit the maximum width */
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.card {
  background: #AAFFCC; /* Aquamarine */
  border: 1px solid #364038; /* Black Olive */
  padding: 60px;
  border-radius: 8px;
  width: 500px; /* Increased width */
  height: 300px; /* Increased height */
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .content {
  font-size: 24px; /* Increased font size */
}

.ferris-wheel {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.ferris-wheel-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.ferris-wheel-dot.active {
  background-color: #1D8734; /* Forest Green */
}

.card-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.nav-icon {
  width: 40px; /* Decreased width */
  height: 50px; /* Keep height same for visibility */
  cursor: pointer;
  margin: 0 20px;
  filter: invert(15%) sepia(10%) saturate(300%) hue-rotate(80deg) brightness(90%) contrast(90%); /* Apply the Black Olive color */
  transition: filter 0.3s;
}

.nav-icon:hover {
  filter: invert(25%) sepia(20%) saturate(300%) hue-rotate(80deg) brightness(80%) contrast(90%); /* Darken the color on hover */
}

.return-button {
  padding: 10px 20px;
  background-color: #16DC65; /* Malachite */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Ensure consistent font */
  margin-top: 20px;
  width: 150px; /* Set a fixed width */
  max-width: 100%; /* Ensure it doesn't overflow */
}

.return-button:hover {
  background-color: #1D8734; /* Forest Green */
}

.error {
  color: red;
}